<aside>
    <div class="widget">
        <form class="form-search">
            <input placeholder="Type something" type="text" class="input-medium search-query">
            <button type="submit" class="btn btn-flat btn-color">Search</button>
        </form>
    </div>
    <div class="widget">
        <h4>Categories</h4>
        <ul class="cat">
        {% for cat in site.categories %}
        {% if cat[1].size >= 5 %}
        {% if cat[0] == 'code' %} 
        <li><a href="#">研发实践({{cat[1].size}})</a></li>
        {% elsif cat[0] == 'java' %}
        <li><a href="#">Java实践({{cat[1].size}})</a></li>
        {% elsif cat[0] == 'solr' %}
        <li><a href="#">搜索引擎-Lucene/Solr ({{cat[1].size}})</a></li>
        {% elsif cat[0] == 'linux' %}
        <li><a href="#">Uinx/Linux ({{cat[1].size}})</a></li>
        {% elsif cat[0] == 'life' %}
        <li><a href="#">微生活({{cat[1].size}})</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <h4>Recent posts</h4>
        <ul class="recent-posts">
            <li><a href="#">Lorem ipsum dolor sit amet munere commodo ut nam</a>
                <div class="clear">
                </div>
                <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
            </li>
            <li><a href="#">Sea nostrum omittantur ne mea malis nominavi insolens</a>
                <div class="clear">
                </div>
                <span class="date"><i class="icon-calendar"></i> 6 March, 2013</span>
                <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
            </li>
            <li><a href="#">Eius graece recusabo no pri odio tale quo id, mea at saepe</a>
                <div class="clear">
                </div>
                <span class="date"><i class="icon-calendar"></i> 4 March, 2013</span>
                <span class="comment"><i class="icon-comment"></i> 12 Comments</span>
            </li>
            <li><a href="#">Malorum deserunt at nec usu ad graeco elaboraret at rebum</a>
                <div class="clear">
                </div>
                <span class="date"><i class="icon-calendar"></i> 3 March, 2013</span>
                <span class="comment"><i class="icon-comment"></i> 3 Comments</span>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h4>Tags</h4>
        <ul class="tags">
        {% for tag in site.tags %}
        {% if tag[1].size >= 3 %}
        <li><a href="{{site.baseurl}}/tags/#" class="btn btn-color">{{tag[0]}}</a></li>
        {% endif %}
        {% endfor %}

        </ul>
    </div>
</aside>
