<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="widget">
                    <h5>Browse pages</h5>
                    <ul class="regular">
                        <li><a href="#">Work for us</a></li>
                        <li><a href="#">Creative process</a></li>
                        <li><a href="#">Case study</a></li>
                        <li><a href="#">Scaffold awwards</a></li>
                        <li><a href="#">Meet the team</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <h5>Recent blog posts</h5>
                    <ul class="regular">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Mea malis nominavi insolens ut</a></li>
                        <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
                        <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <h5>Latest tweets</h5>
                    <div class="twitter">
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <!-- logo -->
                    <a class="brand logo" href="index.html">
                        <img src="{{site.baseulr}}/assets/img/logo-dark.png" alt="" />
                    </a>
                    <!-- end logo -->
                    <address>
                        <strong>Registered Companyname, Inc.</strong><br>
                        8895 Somename Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890 </address>
                </div>
            </div>
        </div>
    </div>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>
                        &copy; demi-panda 2013 - All right reserved
                    </p>
                </div>
                <div class="span6">
                    <p class="pull-right">
                        Designed by <a href="http://demi-panda.com">iWebStudio</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>