<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.site_subtitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.site_content}}">
    <meta name="author" content="{{site.meta.author.full_name}}">
    <!-- styles -->
    <link href="{{site.baseulr}}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/docs.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    {% if page.url == '/index.html' or page.url == '/' or page.url == '/archives/index.html' %}
    <link href="{{site.baseulr}}/assets/css/flexslider.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/sequence.css" rel="stylesheet">
    {% endif %}
    <link href="{{site.baseulr}}/assets/css/style.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/color/default.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{site.baseulr}}/assets/js/jquery-1.8.2.min.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.easing.1.3.js"></script>
    <script src="{{site.baseulr}}/assets/js/google-code-prettify/prettify.js"></script>
    <script src="{{site.baseulr}}/assets/js/modernizr.js"></script>
    <script src="{{site.baseulr}}/assets/js/bootstrap.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.elastislide.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.tweet.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.prettyPhoto.js"></script>
    <script src="{{site.baseulr}}/assets/js/application.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.flexslider.js"></script>
    {% if page.url == '/index.html' or page.url == '/'  %}
    <!--
    <script src="{{site.baseulr}}/assets/js/sequence/sequence.jquery-min.js"></script>
    <script src="{{site.baseulr}}/assets/js/sequence/setting.js"></script>
    -->
    {% else %}
    <!-- Portfolio -->
    <script src="{{site.baseulr}}/assets/js/portfolio/jquery.quicksand.js"></script>
    <script src="{{site.baseulr}}/assets/js/portfolio/setting.js"></script>
    {% endif %}
    <!-- Portfolio hover -->
    <script src="{{site.baseulr}}/assets/js/hover/jquery-hover-effect.js"></script>
    <script src="{{site.baseulr}}/assets/js/hover/setting.js"></script>
    <script src="{{site.baseulr}}/assets/js/custom.js"></script>
    <!-- fav and touch icons  -->
    <link rel="shortcut icon" href="{{site.static_url}}/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.static_url}}/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.static_url}}/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.static_url}}/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{site.static_url}}/assets/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
{% include header.html %}

<!-- content
 ================================================== -->
{{ content }}
<!-- Footer
 ================================================== -->
{% include footer.html %}

</body>
</html>