<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.site_subtitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.site_content}}">
    <meta name="author" content="{{site.meta.author.full_name}}">
    <!-- styles -->
    <link href="{{site.baseulr}}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/docs.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/prettyPhoto-3.1.5.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    {% if page.url == '/index.html' or page.url == '/' or page.url == '/archives/index.html' %}
    <link href="{{site.baseulr}}/assets/css/flexslider.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/css/sequence.css" rel="stylesheet">
    {% endif %}
    <link href="{{site.baseulr}}/assets/css/style.css" rel="stylesheet">
    <link href="{{site.baseulr}}/assets/color/default.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{site.baseulr}}/assets/js/jquery-1.9.1.min.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.easing.1.3.js"></script>
    <script src="{{site.baseulr}}/assets/js/google-code-prettify/prettify.js"></script>
    <script src="{{site.baseulr}}/assets/js/modernizr.js"></script>
    <script src="{{site.baseulr}}/assets/js/bootstrap.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.elastislide.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.tweet.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.prettyPhoto-3.1.5.js"></script>
    <script src="{{site.baseulr}}/assets/js/application.js"></script>
    <script src="{{site.baseulr}}/assets/js/jquery.flexslider.js"></script>
    {% if page.url == '/index.html' or page.url == '/'  %}
    <!--
    <script src="{{site.baseulr}}/assets/js/sequence/sequence.jquery-min.js"></script>
    <script src="{{site.baseulr}}/assets/js/sequence/setting.js"></script>
    -->
    {% else %}
    <!-- Portfolio -->
    <script src="{{site.baseulr}}/assets/js/portfolio/jquery.quicksand.js"></script>
    <script src="{{site.baseulr}}/assets/js/portfolio/setting.js"></script>
    {% endif %}
    <!-- Portfolio hover -->
    <script src="{{site.baseulr}}/assets/js/hover/jquery-hover-effect.js"></script>
    <script src="{{site.baseulr}}/assets/js/hover/setting.js"></script>
    <script src="{{site.baseulr}}/assets/js/custom.js"></script>
    <!-- fav and touch icons  -->
    <link rel="shortcut icon" href="{{site.static_url}}/favicon.ico">


</head>
<body>
{% include header.html %}

<!-- content
 ================================================== -->
{{ content }}

<!-- Footer
 ================================================== -->
{% include footer.html %}
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
<script type="text/javascript">
    var duoshuoQuery = {short_name:"demi-panda"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!--
<script type="text/javascript">

    //首先要引入jquery的js包
    jQuery(document).ready(function(){
        $.ajax({
            type : "get", //jquey是不支持post方式跨域的
            async:false,
            url : "http://api.duoshuo.com/sites/listTopThreads.json?short_name=demi-panda", //跨域请求的URL
            dataType : "jsonp",
            //传递给请求处理程序，用以获得jsonp回调函数名的参数名(默认为:callback)
            jsonp: 'jsonp',
            //自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名
            jsonpCallback:"success_jsonpCallback",
            //成功获取跨域服务器上的json数据后,会动态执行这个callback函数
            success : function(json){
                console.log(eval("(" + json + ")"))
                console.log(JSON.parse(eval("(" + json + ")")))
                console.log("OK")
            },
            error : function(error,a,b) {
                console.log(error)
                console.log(a)
                console.log(b)
            }
        });
    });

</script>
-->
</body>
</html>